<%= form_with(model: kudo, local: true) do |form| %>
  <% if kudo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(kudo.errors.count, "error") %> prohibited this kudo from being saved:</h2>

      <ul>
      <% kudo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :message %>
    <%= form.text_area :message %>
  </div>

  <div class="field">
    <%= form.label :receiver_id %>
    <%= form.collection_select :receiver_id, User.where.not(id: current_user).where(organization_id: current_user.organization_id), :id, :full_name %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn btn-outline-success my-2 my-sm-0" %>
  </div>
<% end %>
