<p id="notice"><%= notice %></p>

<h1>Kudos</h1> 

<% @kudos_left = 3 - current_user.sender.where(created_at: Date.today.beginning_of_week...Date.today.end_of_week).count %>
<% if @kudos_left > 0 %>
  <h3> <%= @kudos_left %> Kudos left to give </h3>
  <%= link_to 'Send a Kudos', new_kudo_path %>
<% else %> 
  <h3> Kudos reload weekly! </h3>
<% end %>


<% if current_user.receiver.count > 0 %>
<table class="kudos" style="width:550px;">
  <thead>
    <tr>
      <th style="text-align: left">Kudos to you:</th>
      <th style="text-align: left">From:</th>
    </tr>
  </thead>

  <tbody>
    <% current_user.receiver.reverse_order.each  do |kudo| %>
      <tr>
        <td><%= kudo.message %></td>
        <% @sender = User.find(kudo.sender.id) %>
        <td> <%= @sender.full_name %>
      </tr>
    <% end %>
  </tbody>
</table>
<% else %> 
  <h4> Still awaiting your first kudo, get out there and help a teammate! </h4>
<% end %>

<br>


