<p id="notice"><%= notice %></p>
<div class="starter-template">
<h5>Organizations</h5>
<%= link_to 'New Organization', new_organization_path, class: "btn btn-outline-success my-2 my-sm-0"%>
</div>
<div class="centered">
  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Join</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @organizations.each do |organization| %>
        <tr>
          <td><%= organization.name %></td>
          <td><%= organization.description %></td>
          <td><%= link_to 'Join', organization_join_org_path(organization) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>


