<!DOCTYPE html>
<html>
  <head>
    <title>CoworkerKudos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="user_nav">
        <% if user_signed_in? %>
          <% if current_user.organization_id.present? %>
            <%= current_user.email %> | <%= Organization.find(current_user.organization_id).name %> |
            <% else %>
              <%= current_user.email %> | <%= link_to 'Join or Create an Org', organizations_path %>|
            <% end %>
            <%= link_to "Sign Out", destroy_user_session_path %>
          <% else%>
          <%= link_to 'Sign up', new_user_registration_path  %> <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
    <%= yield %>
  </body>
</html>
