<!DOCTYPE html>
<html>
  <head>
    <title>CoworkerKudos</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

        <nav class="navbar navbar-expand-md navbar-default bg-light fixed-top">
            <li class="navbar-brand" href="#"><%= link_to 'Kudos', kudos_path %> </li>
          
            <div class="navbar-nav ml-auto">
              <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                  <% if user_signed_in? %>
                    <% if current_user.organization_id.present? %>
                      <li class="nav-item active"> User: <%= current_user.email %>&nbsp;|&nbsp;Team: <%= link_to Organization.find(current_user.organization_id).name, organizations_path %>&nbsp;|&nbsp;</li>
                      <% else %>
                        <li class="nav-item active"> <%= current_user.email %> | <%= link_to 'Join or Create an Org', organizations_path %>&nbsp;|&nbsp;</li>
                    <% end %>
                      <li class="nav-item active"> <%= link_to " Sign Out", destroy_user_session_path %>  </li>
                  <% end %>
              </ul>
            </div>
          </nav>

        <main role="main" class="container">
            <div>
                <%= yield %>
            </div>
        </main>

  </body>
</html>
